{{define "footer"}}
    <p class="footer">
      by <a href="https://markmcgranaghan.com">Mark McGranaghan</a> and <a href="https://eli.thegreenplace.net">Eli Bendersky</a> | <a href="https://github.com/GeneralSandman/Ring-Example">source</a> | <a href="https://github.com/GeneralSandman/Ring-Example#license">license</a>
    </p>
{{end}}
