<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ring Language Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Ring Language Example</a></h2>

      <p>
      <a href="https://ring.wiki">Ring Language</a>
      </p>

      <p>
        Ring is an
        open source programming language designed for
        building simple, fast, and reliable software.
      </p>

      <p>
        <em>Ring Language Example</em> is a hands-on introduction
        to Ring using annotated example programs. Check out
        the <a href="hello-world">first example</a> or
        browse the full list below.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
